.heroContainer {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-transform: capitalize;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 10px 10px 10px 20px;
}

.row:last-of-type {
    border-bottom: none;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #e8e8e8;
    font-size: 1.1em;
}