.container {
    background-color: #e8e8e8;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #000;
}

.flexGrid {
    display: flex;
    margin: 5px 0px 5px 0px;
}

.col {
    display: flex;
    flex: 1;
    justify-content: center;
}

.button {
    width: 90px;
    background-color: #8e8eff;
}

.errorText {
    color: red;
}