.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    text-align: center;
    padding: 20px;
    background-color: #8e8eff;
}

.card {
    min-height: 500px;
    width: 400px;
    box-shadow: 5px 6px 10px 1px #999;
}

.card-content {
    padding: 20px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}